*{
    margin: 0;
    padding: 0;
}


body{
    width: 1260px;
}

.firstcontainer{
    width: 100%;
}

.firstcontainer video{
    margin-top: -80px;
    position: absolute;
    width: 100%;
    height: 720px;
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

}

.navbarleft{
    width: 30%;
    margin-left: 5%;
}

.navbarleft a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;

}
.navbarmid{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}



.navbarmid a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.navbarright{
    width: 30%;
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
    gap: 10px;
}
.navbarright img{
    width: 30px;
}

.firstcontainer1{
    width: 100%;
    text-align: center;
    position: relative;
    color: #fff;

}

.firstcontainer1 h2{
    font-size: 30px;

}

.firstcontainer1 h5{
    padding-top: 10px;
    font-size: 20px;

}

.firstcontainer1 p{
    font-size: 16px;

}
.firstcontainer2{
    width: 1260px;
    text-align: center;
    position: relative;
    padding-top: 440px;
}

.buttoncontainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.firstcontainerbutton1{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.firstcontainerbutton2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #7a7474;
    width: 200px;
    height: 40px;
}

.firstcontainer2 p{
    color: #fff;
    padding-top: 15px;
}

.firstcontainer2 a{
    color: #fff;
}

.secondcontainer {
    width: 100%;
    
}

.secondcontainer img{
    width: 1263px;
    height: 720px;
    margin-top: -80px;
    position: absolute;
    z-index: 1;
}
.secondcontainer1{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;

}

.secondcontainer1 h2{
    font-size: 30px;
}

.secondcontainer1 p {
    font-size: 16px;
}
.secondcontainer2{
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;

}
.secondcontainer2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 535px;
}
.secondcontainerbtn1{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.secondcontainerbtn2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #999898;
    width: 200px;
    height: 40px;
}
.secondcontainer3{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
}
.thirdcontainer {
    width: 100%;
    
}

.thirdcontainer img{
    width: 1263px;
    height: 720px;
    margin-top: -110px;
    position: absolute;
    z-index: 1;
}
.thirdcontainer1{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;

}

.thirdcontainer1 h2{
    font-size: 30px;
}

.thirdcontainer1 p {
    font-size: 16px;
}
.thirdcontainer2{
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;

}
.thirdcontainer2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 475px;
}
.thirdcontainerbtn1{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.thirdcontainerbtn2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #999898;
    width: 200px;
    height: 40px;
}
.thirdcontainer3{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
}

.thirdcontainer3 p {
    color: white;
}

.thirdcontainer3 a{
    color: rgb(252, 252, 252);
}

/* .thirdcontainer {
    width: 1260px;
    margin-top: -75px;
    position: absolute;
}

.thirdcontainer img{
    width: 100%;
}

.thirdcontainer1{
    width: 100%;
    text-align: center;
    /* position: relative; */
    /* color: #fff; */

}

.thirdcontainer1 h2{
    z-index: 2px;
    font-size: 30px;
    position: relative;
    color: rgb(0, 0, 0);

}

.thirdcontainer1 h5{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);

}

.thirdcontainer1 p{
    font-size: 16px;

} */