
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}



.firstcontainer{
    width: 100%;
}

.firstcontainer video{
    margin-top: -80px;
    position: absolute;
    width: 100%;
    height: 720px;
    object-fit: cover;
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

}

.navbarleft{
    width: 30%;
    margin-left: 5%;
}

.navbarleft a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;

}
.navbarmid{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}



.navbarmid a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.navbarright{
    width: 30%;
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
    gap: 10px;
}
.navbarright img{
    width: 30px;
}

.firstcontainer1{
    width: 100%;
    text-align: center;
    position: relative;
    color: #fff;

}

.firstcontainer1 h2{
    font-size: 30px;

}

.firstcontainer1 h5{
    padding-top: 10px;
    font-size: 20px;

}

.firstcontainer1 p{
    font-size: 16px;

}
.firstcontainer2{
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 440px;
}

.buttoncontainer{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.firstcontainerbutton1{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.firstcontainerbutton2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #7a7474;
    width: 200px;
    height: 40px;
}

.firstcontainer2 p{
    color: #fff;
    padding-top: 15px;
}

.firstcontainer2 a{
    color: #fff;
}

.secondcontainer {
    width: 100%;
    
}

.secondcontainer img{
    width: 100%;
    height: 720px;
    margin-top: -80px;
    position: absolute;
    z-index: 1;
}
.secondcontainer1{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;

}

.secondcontainer1 h2{
    font-size: 30px;
}

.secondcontainer1 p {
    font-size: 16px;
}
.secondcontainer2{
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;

}
.secondcontainer2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 535px;
}
.secondcontainerbtn1{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.secondcontainerbtn2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #999898;
    width: 200px;
    height: 40px;
}
.secondcontainer3{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
}
.secondcontainer3 a{
    color: #000;
}
.thirdcontainer {
    width: 100%;
    
}

.thirdcontainer img{
    width: 100%;
    height: 720px;
    margin-top: -100px;
    position: absolute;
    z-index: 1;
}
.thirdcontainer1{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;

}

.thirdcontainer1 h2{
    font-size: 30px;
}

.thirdcontainer1 p {
    font-size: 16px;
}
.thirdcontainer2{
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;

}
.thirdcontainer2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 475px;
}
.thirdcontainerbtn1{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.thirdcontainerbtn2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #999898;
    width: 200px;
    height: 40px;
}
.thirdcontainer3{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
}

.thirdcontainer3 p {
    color: white;
}

.thirdcontainer3 a{
    color: rgb(252, 252, 252);
}
.fourthcontainer {
    width: 100%;
    
}

.fourthcontainer img{
    width: 100%;
    height: 720px;
    margin-top: -92px;
    position: absolute;
    z-index: 1;
}
.fourthcontainer1{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;

}

.fourthcontainer1 h2{
    font-size: 30px;
}

.fourthcontainer1 p {
    font-size: 16px;
}
.fourthcontainer2{
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;

}
.fourthcontainer2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 490px;
}
.fourthcontainerbtn1{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.fourthcontainerbtn2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #999898;
    width: 200px;
    height: 40px;
}
.fourthcontainer3{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
}

.fourthcontainer3 p {
    color: rgb(0, 0, 0);
}

.fourthcontainer3 a{
    color: rgb(0, 0, 0);
}

.fifthcontainer{
    width: 100%;
    
}

.fifthcontainer img{
    width: 100%;
    height: 720px;
    padding-top: -100px;
}

.fifthcontainerone{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    

    
}

.fifthcontainerone button{
    margin-top: -80px;
    position: relative;
    z-index: 2;
}


.fifthcontainerbtn1{
    background-color: #fff;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.fifthcontainerbtn2{
    
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #999898;
    width: 200px;
    height: 40px;
}


.sixthcontainer{
    width: 100%;  
    margin-top: -10px; 
    text-align: center; 
}

.sixthcontainer video{
    width: 100%;
    height: 720px;
    object-fit: cover;
}

.sixthcontainer button{
    color: #fff;
    border: 3px solid white;
    border-radius: 5px;
    background-color: inherit;
    width: 250px;
    height: 40px;
    margin-top: 550px;
    font-size: 16px;
    font-weight: 600;
}

.sixthcontainerone{
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: -700px;

}

.sixthcontainerone h2{
    font-size: 35px;
    color: #fff;
}

.sixthcontainerone p {
    font-size: 16px;
    color: #fff;
}

.seventhcontainer{
    width: 100%;
}

.seventhcontainer img{
    width: 100%;
    height: 720px;
    padding-top: 40px;
}

.seventhcontainer1{
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: -700px;
    text-align: center;
}

.seventhcontainer1 h2{
    font-size: 40px;
    color: white;
}

.seventhcontainer1 a{
    font-size: 18px;
    color: white;

}

.seventhcontainer2{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -100px;
    position: relative;
    z-index: 2;
}

.seventhcontainer2btn1{
    background-color: #d5d2d2;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    

}
.seventhcontainer2btn2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #2c2c2c;
    width: 200px;
    height: 40px;
}

.eightcontainer{
    width: 100%;
}

.eightcontainer img{
    width: 100%;
    height: 720px;
    margin-top: 50px;
}

.eightcontainer1{
    width: 100%;
    margin-top: -680px;
    text-align: center;

}

.eightcontainer1 h2{
    font-size: 35px;
}

.eightcontainer1 p{
    font-size: 18px;
}


.eightcontainer2{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 530px;
    position: relative;
    z-index: 2;
}

.eightcontainer2btn1{
    background-color: #d5d2d2;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    

}
.eightcontainer2btn2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 40px;
}

.ninthcontainer{
    width: 100%;
}

.ninthcontainer img{
    width: 100%;
    height: 720px;
    margin-top: 40px;
}

.ninthcontainer1{
    width: 100%;
    text-align: center;
    margin-top: -690px;
}

.ninthcontainer1 h2{
    font-size: 35px;
}

.ninthcontainer2{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 550px;
    position: relative;
    z-index: 2;
}

.ninthcontainer2btn1{
    background-color: #d5d2d2;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    

}
.ninthcontainer2btn2{
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 40px;
}

.tenthcontainer{
    width: 100%;
}

.tenthcontainer img{
    width: 100%;
    height: 720px;
    margin-top: 50px;

}

.tenthcontainer1{
    width: 100%;
    text-align: center;
    margin-top: -680px;
}

.tenthcontainer1 h2{
    font-size: 35px;
}

.tenthcontainer2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 560px;
    position: relative;
    z-index: 2;
}

.tenthcontainer2btn{
    background-color: #d5d2d2;
    color: black;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.footer{
    margin-top: 30px;
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
}

.footerone{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footerone a{
    text-decoration: none;
    color: white;
}

@media(max-width:720px){
    body{
        width: 100%;
    }
}